.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  width: 100%;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media screen and (max-device-width:480px){
  .App-header{
    display: none;
  }
  .task-list {
    display: none;
  }
  .task-desktop {
    display: none;
  }
  .mobile-header {
    flex-grow: 1;
  }
  .menuButton {
    margin-left: -18;
    margin-right: 10;
  }
  .valueInput {
    width: 50%;
  }
  .desktop-task {
    display: none;
  }
  .add-search {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    border-bottom: 1px outset;
  }
  .task-mobile-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .task-mobile-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 481px) {
  .mobile-header {
    display: none;
  }
  .task-mobile {
    display: none;
  }
  .main {
    margin: 0 10%
  }
  .add-search {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .valueInput {
    width: 70%;
    margin: 0;
    padding: 0;
  }
  .add-search {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
  }
  .task-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 6%;
  }
  .task-desktop-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .task-desktop-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 1%;
    width: 30%
  }
  .task-desktop-body {
    display: flex;
    flex-wrap: wrap;
    margin-left: 6%;
    width: 80%;
  }
  .task-desktop-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 5%;
  }
  .task-desktop-footer-chip {
    display: flex;
    flex-wrap: wrap;
  }
}
@media  (min-width: 481px) and (max-width: 550px) {
  .valueInput {
    width: 200px;
  }
  .task-list-text {
    display: none;
  }
  
}
